html{
    font-size: 62.5%;
}
h1{
    font-family: $fuente;
    font-size: 5rem;
}
h2{
    font-family: $fuente;
    font-size: 3rem;
}
fieldset{
    font-size: 2rem;
}
h3{
    font-size: 2.5rem;
}
header{
    background-color: black;
    top: 0px;
}
footer{
    background-color:black;
    font-size: 1.5rem;
    color: white;
        input{
            width: 20rem;
            height: 2rem;
            font-size: 1.5rem;
            margin: 3px 3px;
        }
}
body{
    background-color: #ededed;
}
p{
    margin-bottom: 0;
}